@import url("https://fonts.googleapis.com/css?family=Caveat|Mali");

:root {
  --mainDark: #242325;
  --mainGreen: #61e786;
  --mainWhite: #fff;
  --mainGrey: #eeeeee;
}
body {
  font-family: "Mali", cursive;
  background: var(--mainWhite);
  color: var(--mainDark);
}

/* global*/
.text-green {
  color: var(--mainGreen);
}

.text__white {
  color: var(--mainGrey);
}

.title-underline {
  width: 12rem;
  height:0.3rem;
  margin: 0 auto;
  position: relative;
  border-radius: 2rem;
}

.title-underline__center {
  position: absolute;
  height: 0.6rem;
  background: var(--mainGreen);
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 1rem ;
}
.blockquote {
  border-left: 0.5rem solid var(--mainGreen);
}
.text-slant {
  font-family: "Caveat", cursive;

}
.green__btn {
  color: var(--mainGreen);
  border: 0.1rem solid var(--mainGreen);
  background: transparent;

}
.green__btn:hover {
  background: var(--mainGreen);
  color:var(--mainWhite);

}

.phone-icon {
  color: var(--mainGreen);
  border: 0.1rem solid var(--mainGreen);
  padding: 0.5rem;
  border-radius: 50%;
}

.phone-num:hover {
  border-bottom: 1px solid var(--mainGreen);
 
}



/* end ofnavbar */




/* navbar */
.navbar {
  background: var(--mainDark)!important;
 
}

.banner-info{
min-height: calc(100vh - 101px);
background: var(--mainGrey);
position: relative;

}

/* Banner */
.banner-info__footer {
  background:var(--mainGreen);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.banner-img__footer {
  background: var(--mainDark);
}

.banner-img {
  min-height: calc(100vh - 101px);
  background: url('../img/bird-s-eye-view-of-three-houses-1546166.jpg')center/cover fixed no-repeat;
 /* background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  */
  position: relative;
}

.banner-img__footer{
  position: absolute;
  bottom: 0;
  left:0;
  height: 104px;
  display: flex;
  align-items: center;
}


.img-container {
  position: relative;
}
.featured-icons {
  position: absolute;
  bottom: 0;
  left:50%;
  transform: translate(-50%);
}

.featured-icon-left {
  background:var(--mainDark);
  padding: 0.5rem;
  display: inline-block;
  color: var(--mainWhite);
}

.featured-icon-left:hover {
  color: var(--mainGreen);
}

.featured-icon-right {
  background:var(--mainGreen);
  padding: 0.5rem;
  display: inline-block;
  color: var(--mainWhite);
}

.featured-icon-right:hover {
  color: var(--mainDark);
}

/*fatured section */
.featured {
  background: var(--mainGrey);

}

/*==contact form */
.contact {
  background: var(--mainGreen);
  color: var(--mainWhite);
}

.contact-btn {
  background:transparent;
  border: 0.1rem solid var(--mainWhite);
  color: var(--mainWhite);

}

.contact-btn:hover{
  background: var(--mainWhite);
  color: var(--mainGreen);
}

.services, .tour {
  background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))
  ,url('../img/hotel4.jpeg') no-repeat;
 background-attachment: fixed;

}

.services-image {
padding-top: 12rem;
box-shadow: 0 0.3rem 0 rgba(61, 224, 46, 0.767);

}

.services-info-text {
position: absolute;
left: 50%;
top: 75%;
transform: translate(-50%,-50%);
color:var(--mainWhite)!important;
background-color: var(--mainGreen);
margin-bottom: 0;
box-shadow: 0 0.3rem 0 rgba(40, 63, 38, 0.767);
text-decoration: none;
text-align: center;

}

.services-info-text:hover {
  text-decoration: none !important;
  color: var(--mainDark)!important;

}

.services-icon {
  font-size: 2rem;
  color: var(--mainGreen);
  padding:0.5rem;
  border: 0.1rem solid var(--mainGreen);
  margin-right: 1rem;
  transition: all 0.6s ease-in-out;
}

.services-icon:hover {
  background: var(--mainGreen);
  color: var(--mainGrey);
}

.service-link:hover {
  color: var(--mainWhite);
}

/*gallary ===*/

.gallery-btn:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
}

.gallery-img-container {
  position: relative;
  transition: all 1s linear;
  overflow: hidden;
}
.gallery-img-container:hover {
  background: rgba(0, 0, 0, 0.9);
}
.gallery-img {
  transition: all 1s linear;
}
.gallery-img-container:hover .gallery-img {
  opacity: 0.3;
}
.gallery-info {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  background: var(--mainGreen);
  color: var(--mainWhite);
  text-decoration: none;
  transition: all 0.3s linear;
}

.gallery-info:hover {
  text-decoration: none;
  color: var(--mainDark);
}

.gallery-img-container:hover .gallery-info {
  transform: translate(-50%, 0);
}

.gallery-icon {
  position: absolute;
  color: var(--mainGreen);
  top: 50%;
  left: 50%;
  font-size: 1.2rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s linear;
  cursor: pointer;
}

.gallery-img-container:hover .gallery-icon {
  opacity: 1;
}

.tour-icon {
  color: var(--mainGreen);
  margin-bottom: 1rem;
  padding: 0.75rem;
  background: var(--mainWhite);
  border-radius: 30%;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.4s linear;
}

.tour-icon:hover {
  background: var(--mainDark);
  color: var(--mainWhite);

}

.footer {
  background: var(--mainDark);
}